body {
  font-family: system-ui;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}


nav {
  background-color: #dd3434;
  height: 50px;
  align-content: space-evenly;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  color: #dd3434;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1em;
  }
}