.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.question-box {
  position: relative; 
  width: 70vw; 
  height: 70vw; 
  max-width: 460px; 
  max-height: 460px; 
  background-color: rgb(122, 122, 219);
  border: 15px solid rgb(255, 255, 255); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300px;
  color: white;
  margin-bottom: 20px;
  border-radius: 15px; 
  margin: 0 auto; 
  cursor: pointer; 
}

@media (max-width: 500px) {
  .question-box {
    font-size: 200px;
  }
}

@media (max-width: 400px) {
  .question-box {
    font-size: 100px;
    max-width: 150px; 
    max-height: 150px; 
  }
}

.options-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center;
  max-width: 520px;
  justify-self: center;
}

.color-button {
  border: none;
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.color-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.color-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.356);
}

@media (max-width: 500px) {
  .color-button {
    width: 75px; 
    height: 75px; 
  }
}

@media (max-width: 400px) {
  .color-button {
    width: 50px; 
    height: 50px; 
  }
}

.new-game-button {
  display: block;
  width: 70vw; 
  max-width: 460px; 
  height: 100px; 
  font-size: 48px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto; 
}

@media (max-width: 400px) {
  .new-game-button {
    font-size: 32px;
  }
}

.colours-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  flex-wrap: wrap;
  justify-content: center;
  max-width: 520px;
  justify-self: center;
}

.colour-box {
  display: flex;
  background-color: black;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 5px;
  width: 106px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.colour-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.356);
}

@media (max-width: 500px) {
  .colour-box {
    margin: 1px;
    width: 86px;
  }
}

@media (max-width: 400px) {
  .colour-box {
    margin: 1px;
    width: 56px;
  }
}

.colour-square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border-right: 2px solid #000;
  background: black;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@media (max-width: 500px) {
  .colour-square {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .colour-square {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
}

.stars-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  background-color: black; /* Tło dla całego kontenera */
}

.star-container {
  background-color: black; /* Tło dla gwiazdki */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.star {
  color: gold; /* Kolor gwiazdki */
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 5px;
}

.points-container {
  background-color: gold; /* Tło dla liczby punktów */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.points {
  color: black; /* Kolor liczby punktów */
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 500px) {
  .stars-square {
    width: 40px;
    height: 40px;
  }

  .star {
    font-size: 1.2rem;
  }

  .points {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .stars-square {
    width: 30px;
    height: 30px;
  }

  .star {
    font-size: 1rem;
  }

  .points {
    font-size: 0.7rem;
  }
}

.stars-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; /* Wyśrodkowanie */
  padding: 10px;
  background-color: black; /* Tło prostokąta */
  border-radius: 10px; /* Zaokrąglone rogi */
  color: white; /* Kolor tekstu */
  font-size: 1.2rem;
  font-weight: bold;
  width: 90%; /* Szerokość odpowiadająca szerokości question-box */
  max-width: 400px; /* Maksymalna szerokość */
}

.stars-text {
  text-align: center;
}